.no-data-available {
    text-align: center;
  }
  
  /*
     src/styles.css (i.e. your global style)
  */
  .dataTables_empty {
    display: none;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }