<div class="box">
        <h3>LOGIN WITH PHONE</h3>
        <div>
          <form id="userForm" [formGroup]="userForm" (ngSubmit)="checkUserExist()" *ngIf="!isUserExist">
            <div class="form-group">
              <label for="phone">Phone number:</label>
              <input type="text" name="phone" class="form-control" id="phone" formControlName="phone">
              <div *ngIf="userForm.controls.phone.touched && userForm.controls.phone.errors">
                <p class="error" *ngIf="userForm.controls.phone.errors.required"><i class="fa fa-exclamation-triangle"></i> Phone is required</p>
              </div>
            </div>
            <input type="submit" class="btn btn-primary" id ="btn" value="Submit">  
          </form>
          <br>
          <!-- <input type="submit" class="btn btn-primary"  value="Google" *ngIf="!isUserExist" (click)="authLogin()"> -->
      
          <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="isUserExist">
            <div class="form-group">
              <label for="phone">Phone Number:</label>
              <input type="text" name="phone" class="form-control" id="phone" formControlName="phone">
              <div *ngIf="loginForm.controls.phone.touched && loginForm.phone.errors">
                <p class="error" *ngIf="loginForm.controls.phone.errors.required"><i class="fa fa-exclamation-triangle"></i> Phone is required</p>
              </div>
            </div>
            <div class="form-group">
              <label for="pwd">Unique verification code:</label>
              <input type="password" name="password" class="form-control" id="password" formControlName="password">
              <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors">
                <p class="error" *ngIf="loginForm.controls.password.errors.required"><i class="fa fa-exclamation-triangle"></i> OTP is required</p>
              </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Sign-In">
            <div class="text-foot" *ngIf="error">
              <p class="error">
                <i class="fa fa-exclamation-triangle"></i> verification code is invalid
              </p>
            </div>
          </form>
          <p>New User <a [routerLink]="['/signup']">Sign-Up Here</a></p>
        </div>
        <ul class="social-login">
          <li>
            <a href="javascript:void()"><img src="assets/images/fb.png" *ngIf="!isUserExist" (click)="authLogin('facebook')"></a>
          </li>
          <li>
            <a href="javascript:void()" ><img src="assets/images/google.png" *ngIf="!isUserExist" (click)="authLogin('google')"></a>
          </li>
        </ul>
      </div>
      